In [1]:
# Add the Pandas dependency:
import pandas as pd

In [2]:
# List of high schools
high_schools = ["Huang High School",  "Figueroa High School", "Shelton High School", "Hernandez High School","Griffin High School","Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School","Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]

In [3]:
# Create a Pandas Series from a list:
school_series = pd.Series(high_schools)
school_series

0         Huang High School
1      Figueroa High School
2       Shelton High School
3     Hernandez High School
4       Griffin High School
5        Wilson High School
6       Cabrera High School
7        Bailey High School
8        Holden High School
9          Pena High School
10       Wright High School
11    Rodriguez High School
12      Johnson High School
13         Ford High School
14       Thomas High School
dtype: object

In [4]:
# A dictionary of high schools
high_school_dicts = [{"School ID": 0, "school_name": "Huang High    School", "type": "District"},
                   {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]

In [5]:
school_df = pd.DataFrame(high_school_dicts)
school_df

   School ID            school_name      type
0          0   Huang High    School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [19]:
# this gets the column names of the DataFrame
school_df.columns

Index(['School ID', 'school_name', 'type'], dtype='object')

In [20]:
# this gets the indices of the DataFrame
school_df.index

RangeIndex(start=0, stop=5, step=1)

In [8]:
# This gets the values of the dataframe
school_df.values

array([[0, 'Huang High    School', 'District'],
       [1, 'Figueroa High School', 'District'],
       [2, 'Shelton High School', 'Charter'],
       [3, 'Hernandez High School', 'District'],
       [4, 'Griffin High School', 'Charter']], dtype=object)

In [9]:
# Three separate lists of information on high schools
school_id = [0, 1, 2, 3, 4]

school_name = ["Huang High School", "Figueroa High School",
"Shelton High School", "Hernandez High School","Griffin High School"]

type_of_school = ["District", "District", "Charter", "District","Charter"]

In [10]:
#Initialize a new DataFrame:
schools_df = pd.DataFrame()

In [11]:
# Add the list to a new DataFrame.
schools_df["School ID"] = school_id
schools_df["School Name"] = school_name
schools_df["Type"] = type_of_school

# Print the DataFrame.
schools_df

   School ID            School Name      Type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [12]:
# Create a dictionary of information on high schools.
high_schools_dict = {'School ID': school_id, 'school_name':school_name, 'type':type_of_school}

In [13]:
hsd_df = pd.DataFrame()

In [24]:
hsd_df["School ID"] = school_id
hsd_df["Schoold Name"] = school_name
hsd_df["Type"] = type_of_school

In [25]:
hsd_df

   School ID           Schoold Name      Type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [26]:
# Get only the column names:
hsd_df.columns

Index(['School ID', 'Schoold Name', 'Type'], dtype='object')

In [27]:
# Get only the index names:
hsd_df.index

RangeIndex(start=0, stop=5, step=1)

In [28]:
# Get only the values/data:
hsd_df.values

array([[0, 'Huang High School', 'District'],
       [1, 'Figueroa High School', 'District'],
       [2, 'Shelton High School', 'Charter'],
       [3, 'Hernandez High School', 'District'],
       [4, 'Griffin High School', 'Charter']], dtype=object)

In [32]:
# Skill Drill - Create a list for each column from the excel screenshots and add each list to a new pandas DataFrame
all_school_id = [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14]

all_school_name = ["Huang High School", "Figueroa High School", "Shelton High School", "Hernandez High School", "Griffing High School", "Wilson High School", "Cabrera High School", "Bailey  High School", "Holden High School", "Pena High School", "Wright High School", "Rodriguez High School", "Johnson High School", "Ford High School", "Thomas  High School"]

all_type = ["District", "District", "Charter", "District", "Charter", "Charter", "Charter", "District", "Charter", "Charter", "Charter", "District", "District", "District", "Charter"]

In [33]:
allschools = pd.DataFrame()

In [35]:
allschools["School ID"] = all_school_id
allschools["School Name"] = all_school_name
allschools["Type"] = all_type
allschools

    School ID            School Name      Type
0           0      Huang High School  District
1           1   Figueroa High School  District
2           2    Shelton High School   Charter
3           3  Hernandez High School  District
4           4   Griffing High School   Charter
5           5     Wilson High School   Charter
6           6    Cabrera High School   Charter
7           7    Bailey  High School  District
8           8     Holden High School   Charter
9           9       Pena High School   Charter
10         10     Wright High School   Charter
11         11  Rodriguez High School  District
12         12    Johnson High School  District
13         13       Ford High School  District
14         14    Thomas  High School   Charter